<div style="width: 420px; height: 191.63px; position: relative">
  <div style="width: 420px; padding: 16px; left: 0px; top: 0px; position: absolute; background: var(--color-grey-94, #FAF5E4); box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.80); border-radius: 24px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
    <div style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
      <div style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-29, #4A4F46); font-size: 20px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Delete Confirmation</div>
      </div>
      <div style="width: 38.80px; height: 40px; background: var(--color-grey-94, #FAF5E4); box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.80); border-radius: 16px; justify-content: center; align-items: center; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
          <div data-variant="19" style="width: 18px; height: 18px; position: relative; overflow: hidden">
            <div style="width: 9px; height: 9px; left: 4.50px; top: 4.50px; position: absolute; outline: 1.50px var(--color-grey-48, #7A8074) solid; outline-offset: -0.75px"></div>
          </div>
        </div>
      </div>
    </div>
    <div style="align-self: stretch; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: #F2EDE0; box-shadow: -4px -4px 8px rgba(255, 255, 255, 0.90) inset; border-radius: 18px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 6.88px; display: flex">
      <div style="align-self: stretch; padding-bottom: 0.63px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="align-self: stretch; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-29, #4A4F46); font-size: 12.90px; font-family: Inter; font-weight: 400; line-height: 22.75px; word-wrap: break-word">Lorem isum</div>
      </div>
    </div>
    <div style="align-self: stretch; padding-top: 4px; justify-content: center; align-items: center; gap: 8px; display: inline-flex">
      <div style="flex: 1 1 0; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: var(--color-chartreuse-green-84, #D6E4C8); box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.80); border-radius: 16px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-29, #4A4F46); font-size: 13.50px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Delete</div>
      </div>
      <div style="flex: 1 1 0; padding-left: 16px; padding-right: 16px; padding-top: 12px; padding-bottom: 12px; background: var(--color-grey-94, #FAF5E4); box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.80); border-radius: 16px; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <div style="text-align: center; justify-content: center; display: flex; flex-direction: column; color: var(--color-grey-29, #4A4F46); font-size: 13.50px; font-family: Inter; font-weight: 600; line-height: 20px; word-wrap: break-word">Cancel</div>
      </div>
    </div>
  </div>
</div>