.project-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .decor-container {
    position: absolute;
    top: -3rem;
    display: flex;
    flex-direction: column;
    width: 99vw;
    height: 100%;
    align-items: center;
    overflow: hidden;
    z-index: 0;

    img {
      width: 50%;
      height: 50%;
    }

    .decor-green01 {
      position: relative;
      top: -15rem;
      right: -45rem;
    }

    .decor-green02 {
      position: relative;
      top: -10rem;
      left: -45rem;
    }

    .decor-green03 {
      position: relative;
      top: -5rem;
      right: -50rem;
    }

    .decor-gray01 {
      position: relative;
      left: -33rem;
      width: 100%;
    }
  }

  .project-intro,
  .project-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .project-content {
    z-index: 1;

    div {
      gap: 2rem p {
        text-align: justify;
      }
    }
  }

  .intro-video {
    width: 100%;
    height: 700px;
    position: relative;
    background-color: white;
    padding: 4px 5px;
  }
}
